# Ignore all dotfiles...
.*
# except for .gitignore
!.gitignore

# Exclude QtCreator files ...
CMakeLists.txt.user*

# Ignore ctags file
tags

# Ignore Python stuff
*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg


# Exclude Kdevelop4 files ...
.kdev*
