<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" type="text/css" href="../stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/pygment_trac.css" media="screen" />

    <script src="../javascripts/libs/jquery-1.10.2.js"></script>
    <script src="../javascripts/libs/dcmjs.js"></script>
    <script src="../javascripts/utils.js"></script>

    <script>
$(function() {

  var dcm2pnm = function(reader, file) {
    var fileName = file.name;
    var uploadedFilePath = '/uploadedfile.dcm';

    $('#main_content').append('<p class="output">Writing...</p>');
    var content = new Int8Array(reader.result);
    FS.writeFile(uploadedFilePath, content, {encoding: "binary"});

    var imageFilePath = 'convertedImage';

    $('#main_content').append('<p class="output">Dumping...</p>');
    //Module.callMain(['dcm2pnm', '--verbose', '--histogram-window', '2', '--all-frames', '--write-png', uploadedFilePath, '/images/image']);
    //Module.callMain(['dcm2pnm', '--verbose', '--histogram-window', '2', '--write-png', uploadedFilePath, '/images/image.png']);
    Module.callMain(['dcm2pnm', '--verbose', '--histogram-window', '2', '--frame', '1', '--write-raw-pnm', uploadedFilePath, imageFilePath]);
    $('#viewContainer canvas').remove();
    $('#viewContainer').append('<canvas id="%s"></canvas>'.replace('%s',fileName));

    $('#main_content').append('<p class="output">%s</p>'.replace('%s', String(imageFilePath)));
    var stat = FS.stat(imageFilePath);
    var stream = FS.open(imageFilePath);
    var pnmBuffer = new Uint8Array(stat.size);
    FS.read(stream, pnmBuffer,0,stat.size);
    FS.close(stream);
    $('#main_content').append('<p class="output">%s</p>'.replace('%s', String(stat.size)));

    var widthString = "";
    var heightString = "";
    var passedSpace = false;
    var offset;
    for (offset = 3; offset < stat.size; offset++) {
      if (pnmBuffer[offset] == 10) {
        break;
      }
      if (pnmBuffer[offset] == 32) {
        passedSpace = true;
        continue;
      }
      if (passedSpace) {
        heightString += String(pnmBuffer[offset] - 48);
      } else {
        widthString += String(pnmBuffer[offset] - 48);
      }
    }
    console.log(widthString);
    console.log(heightString);

    var canvas = document.getElementById(fileName);
    canvas.width = eval(widthString);
    canvas.height = eval(heightString);
    var canvasWidth  = canvas.width;
    var canvasHeight = canvas.height;
    var ctx = canvas.getContext('2d');
    var imageData = ctx.getImageData(0,0,canvasWidth,canvasHeight);
    var data = imageData.data;
    var offset = stat.size - (canvasHeight * canvasWidth);

    for (var y = 0; y < canvasHeight; ++y) {
        for (var x = 0; x < canvasWidth; ++x) {
            var index = (y * canvasWidth + x) * 4;

            var value = pnmBuffer[offset + x + y*canvasWidth];

            data[index]   = value;    // red
            data[++index] = value;    // green
            data[++index] = value;    // blue
            data[++index] = 255;      // alpha
        }
    }
    ctx.putImageData(imageData, 0, 0);

    // try the xml dump
    var xmlFilePath = 'convertedImage.xml';
    Module.callMain(['dcm2xml', '--verbose', '--native-format', uploadedFilePath, xmlFilePath]);
    var xml = FS.readFile(xmlFilePath, {encoding: 'utf8'} );
    var header = $.parseXML(xml);
    console.log(header);
    $('#main_content').append('<p class="output">%s</p>'.replace('%s', String(header)));
  }

  var readSelectedFiles = function(files) {
    $('#main_content p.output').remove();
    $('#main_content').append('<p class="output">Reading...</p>');
    $.each(files, function(index,file) {
      dcmjs.utils.readFile(file, dcm2pnm);
    });
  }

  // File selector
  function handleFileSelect(e) {
    evt = e.originalEvent
    var files = evt.target.files; // FileList object
    dcmjs.utils.displayFileProperties(files)
    readSelectedFiles(files);
  }

  // Setup the file selector listener
  $('#fileSelector').bind('change', handleFileSelect)

  // Drag and Drop
  function handleFileDrop(e) {
    evt = e.originalEvent
    evt.stopPropagation();
    evt.preventDefault();

    var files = evt.dataTransfer.files; // FileList object
    dcmjs.utils.displayFileProperties(files)
    readSelectedFiles(files);
  }

  // Setup the dnd listeners
  function ignoreDrag(e) {
    e.originalEvent.stopPropagation();
    e.originalEvent.preventDefault();
    e.originalEvent.dataTransfer.dropEffect = 'copy'; // Explicitly show this is a copy.
  }
  $('#fileDropZone').bind('dragenter', ignoreDrag).bind('dragover', ignoreDrag).bind('drop', handleFileDrop);

  /*
    Override print
  */
  var printToMainContext = function(s) {
    $('#main_content').append('<p class="output">' + s + '</p>');
  };
  Module.print = printToMainContext;

  /*
    Clean up and start
  */
  $('#main_content p.output').remove();
});

    </script>

    <title>dcmjs by commontk</title>
  </head>

  <body>

<header>
  <div class="container">
    <h1>dcmjs view</h1>
    <h2>View the pixel data of a dicom file using dcmjs</h2>
  </div>
</header>

<div class="container">
  <section id="main_content">

    <!-- File selector -->
    <p>Browse for DICOM files:</p>
    <input type="file" id="fileSelector" name="selectorFiles[]" multiple />

    <p>Or</p>

    <!-- Drag and Drop -->
    <div class="files_wrapper">
      <div class="area_file" id="fileDropZone">Drop your DICOM files here</div>
    </div>

    <output id="fileListProperties"></output>

    <p class='output'>Waiting...</p>

    <div id='viewContainer'></div>

  </section>
</div>



<!-- google analytics -->
<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  try {
    var pageTracker = _gat._getTracker("UA-50750505-1");
  pageTracker._trackPageview();
  } catch(err) {}
</script>

  </body>
</html>
